@{
    ViewData["Title"] = "CustomerDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-6 col-lg-5">
            @await Component.InvokeAsync("_CustomerDetailInfoComponentPartial", new { customerId = ViewBag.CustomerId })
        </div>
        <div class="col-md-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="row g-3">
                        @await Component.InvokeAsync("_CustomerTotalOperationsComponentPartial", new { customerId = ViewBag.CustomerId })
                        @await Component.InvokeAsync("_CustomerDetailApprovedTaskCountComponentPartial", new { customerId = ViewBag.CustomerId })
                        @await Component.InvokeAsync("_CustomerTaskAssignmentCountComponentPartial", new { customerId = ViewBag.CustomerId })
                        @*@await Component.InvokeAsync("_CustomerDetailNotApprovedTaskCountComponentPartial", new { customerId = ViewBag.CustomerId }) *@
                        @await Component.InvokeAsync("_CustomerLastVisitUserComponentPartial", new { customerId = ViewBag.CustomerId })
                    </div>
                    @await Component.InvokeAsync("_CustomerDetailCreatorComponentPartial", new { customerId = ViewBag.CustomerId })
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Son Hareketler</h4>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="btn btn-primary"><i class="fas fa-eye me-1"></i>Tümünü Gör</a>
                        </div>
                    </div> 
                </div>
                @await Component.InvokeAsync("_CustomerLastOperationsComponentPartial", new { customerId = ViewBag.CustomerId })
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Son Teklifler</h4>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="btn btn-primary"><i class="fas fa-eye me-1"></i>Tümünü Gör</a>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("_CustomerLast10TaskAssignmentsComponentPartial", new { customerId = ViewBag.CustomerId })

            </div>
        </div>
    </div>
</div>


