@model AddCustomerRequest
@{
    ViewBag.Title = "Müşteri Ekle";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Müşteri Ekle - ECO CRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        body {
            background: linear-gradient(to bottom, #3a3a3a, #1f1f1f); 
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #fff;
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            padding: 0;
            overflow: hidden;
            box-sizing: border-box;
        }

        .navbar {
            background-color: #444; 
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-weight: bold;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }

        .sidebar {
            background-color: #333;
            padding: 20px;
            width: 200px;
            position: fixed;
            top: 60px;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            z-index: 900;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
            overflow-y: auto;
        }

            .sidebar a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
                font-size: 16px;
                border-bottom: 1px solid #444;
                margin-bottom: 5px;
                transition: background-color 0.3s, padding-left 0.3s;
                display: flex;
                align-items: center;
            }

                .sidebar a:hover {
                    background-color: #575757;
                    padding-left: 15px;
                }

        .arrow {
            margin-left: 10px;
            transition: transform 0.3s;
        }

        .rotate {
            transform: rotate(90deg);
        }

        h3 {
            margin: 0 0 20px 0;
            color: #fff;
            text-align: left;
        }

        div.form-container {
            padding: 20px;
            background-color: #333; 
            border-radius: 10px;
            position: absolute;
            left: 220px;
            top: 65px;
            right: 20px;
            bottom: 20px;
            box-sizing: border-box;
            overflow: hidden;
            margin-top: 3px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            width: 100%;
            padding: 10px;
            background-color: #444; 
            border-radius: 10px;
            box-sizing: border-box;
        }

        .form-label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-control {
            padding: 3.5px;
            font-size: 13px;
            border-radius: 4px;
            border: 1px solid #666;
            background-color: #555; 
            color: #fff;
            height: 28px;
        }

        textarea.form-control {
            resize: vertical;
        }

        .btn-custom {
            background-color: #666; 
            border: none;
            color: #fff;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.2s;
            font-size: 14px;
            font-weight: 500;
        }

            .btn-custom:hover {
                background-color: #888; 
                transform: translateY(-2px);
            }

        .form-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

        .table-section {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <a href="/Dashboard/Index/">Ana Sayfa</a>
        <a href="/CustomerOperation/Index/">Tüm İşlemler</a>
        <a href="/Customer/Index">Müşteriler</a>
        <a href="/Account/Logout/">Çıkış</a>
    </div>

    <div class="navbar">
        <div class="eco-crm">ECO CRM</div>
        <div class="user-info">@ViewBag.FullName</div>
    </div>
    <div style="height: 5px; background-color: #000; width: 100%; position: fixed; top: 60px; left: 0; z-index: 999;"></div>
    <div class="form-container">
        <div class="form-header">
            <h3>Yeni Müşteri Ekleme Formu</h3>
            <button type="submit" class="btn-custom" form="customerForm">Kaydet ve Devam Et</button>
        </div>
        <form asp-action="NewCustomer" method="post" id="customerForm">
            <div>
                <label asp-for="CompanyName" class="form-label">Şirket Adı</label>
                <input asp-for="CompanyName" class="form-control" />
            </div>
            <div>
                <label asp-for="City" class="form-label">Şehir</label>
                <input asp-for="City" class="form-control" />
            </div>
            <div>
                <label asp-for="District" class="form-label">İlçe</label>
                <input asp-for="District" class="form-control" />
            </div>
            <div>
                <label asp-for="Country" class="form-label">Ülke</label>
                <input asp-for="Country" class="form-control" />
            </div>
            <div>
                <label asp-for="ContactName" class="form-label">Yetkili Kişi</label>
                <input asp-for="ContactName" class="form-control" />
            </div>
            <div>
                <label asp-for="ContactPhone1" class="form-label">Telefon 1</label>
                <input asp-for="ContactPhone1" class="form-control" />
            </div>
            <div>
                <label asp-for="ContactPhone2" class="form-label">Telefon 2</label>
                <input asp-for="ContactPhone2" class="form-control" />
            </div>
            <div>
                <label asp-for="ContactEmail" class="form-label">E-Posta</label>
                <input asp-for="ContactEmail" class="form-control" />
            </div>
            <div style="grid-column: span 2;">
                <label asp-for="Address" class="form-label">Adres</label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>
            <div style="grid-column: span 2;">
                <label asp-for="IsDomestic" class="form-label">Yurt İçi</label>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <input asp-for="IsDomestic" type="radio" class="form-check-input" value="true" id="evet">
                    <label class="form-check-label" for="evet" style="color: #fff">Evet</label>
                    <input asp-for="IsDomestic" type="radio" class="form-check-input" value="false" id="hayir">
                    <label class="form-check-label" for="hayir" style="color: #fff">Hayır</label>
                </div>
            </div>
            <div style="grid-column: span 2;">
                <label asp-for="Description" class="form-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div>
                <label asp-for="Status" class="form-label">Durum</label>
                <input asp-for="Status" class="form-control" />
            </div>
            <div>
                <label asp-for="LimitTl" class="form-label">Limit (TL)</label>
                <input asp-for="LimitTl" class="form-control" />
            </div>
            <div>
                <label asp-for="Group" class="form-label">Grup</label>
                <input asp-for="Group" class="form-control" />
            </div>
        </form>
    </div>


    <div style="position: fixed; bottom: 4px; right: 20px; color: #fff; font-size: 12px;">
        Designed by Eco Software Development ℗
    </div>
    <script>
       
        document.addEventListener("DOMContentLoaded", function () {
            document.body.style.opacity = 1;
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
