@model DtoLayer.Customer.Responses.GetCustomerCreatorResponse

<div class="bg-primary-subtle p-2 border-dashed border-primary rounded mt-3">
    <span class="text-primary fw-semibold">@Model.FullName Tarafından oluşturuldu.</span>
</div>
