<div class="col-md-6 col-lg-6">
    <div class="card shadow-none border mb-3 mb-lg-0">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <i class="iconoir-thumbs-up fs-24 align-self-center text-primary me-2"></i>
                <div class="flex-grow-1 text-truncate">
                    <p class="text-dark mb-0 fw-semibold fs-13">Son Ziyaret</p>
                    <h3 class="mt-1 mb-0 fs-18 fw-bold">@Model.FullName</h3>
                </div>
            </div>
        </div>
    </div> 
</div>