@model AddCustomerOperationWithDisplayRequest

@{
    ViewData["Title"] = "AddOperation";
    Layout = "~/Views/Layout/Index.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="col-md-12 col-lg-12">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Yeni Operasyon Ekleme Formu</h4>
                            <button type="submit" class="btn btn-primary" form="operationForm">Kaydet ve Devam Et</button>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <form asp-action="AddOperation" method="post" id="operationForm">
                            <div class="mb-3 col-md-3">
                                <label asp-for="OperationRequest.CustomerId" class="form-label">Firma Seç</label>
                                <input type="text" id="firmSelector" class="form-control" placeholder="Firma adını yazın" style="width: 100%;">
                                <ul id="firmDropdown" class="dropdown-menu" style="display: none; width: 100%;"></ul>

                                <input type="hidden" asp-for="OperationRequest.CustomerId" id="selectedCustomerId">
                                <span asp-validation-for="OperationRequest.CustomerId" class="text-danger"></span>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label asp-for="OperationRequest.Method" class="form-label">Yöntem</label>
                                <select asp-for="OperationRequest.Method" class="form-select" id="validationCustom05" required>
                                    <option selected disabled value="">Yöntem Seçin</option>
                                    <option value="Telefon">Telefon</option>
                                    <option value="Yüz Yüze">Yüz Yüze</option>
                                    <option value="E-Mail">E-Mail</option>
                                </select>
                                <div class="invalid-feedback">
                                    Lütfen geçerli bir yöntem seçin.
                                </div>
                            </div>

                            <div class="mb-3 col-md-3">
                                <label asp-for="OperationRequest.IsNew" class="form-label">Yeni Mi?</label>
                                <select asp-for="OperationRequest.IsNew" class="form-select" id="validationCustom07" required>
                                    <option selected disabled value="">Seçim Yapın</option>
                                    <option value="true">Evet</option>
                                    <option value="false">Hayır</option>
                                </select>
                                <div class="invalid-feedback">
                                    Lütfen geçerli bir seçim yapın.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="OperationRequest.PlannedDate" class="form-label">Planlanan Tarih</label>
                                <input asp-for="OperationRequest.PlannedDate" type="datetime-local" class="form-control" />
                            </div>

                            <div class="mb-3 col-md-3">
                                <label asp-for="OperationRequest.Reason" class="form-label">Sebep</label>
                                <select asp-for="OperationRequest.Reason" class="form-select" id="validationCustom06" required>
                                    <option selected disabled value="">Sebep Seçin</option>
                                    <option value="Randevu">Randevu</option>
                                    <option value="Sipariş Sorgulama">Sipariş Sorgulama</option>
                                    <option value="Ziyaret">Ziyaret</option>
                                    <option value="Fuar">Fuar</option>
                                    <option value="Teklif">Teklif</option>
                                </select>
                                <div class="invalid-feedback">
                                    Lütfen geçerli bir sebep seçin.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="OperationRequest.ContactPerson" class="form-label">Görüşülen Kişi</label>
                                <input asp-for="OperationRequest.ContactPerson" type="text" class="form-control" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="OperationRequest.Description" class="form-label">Açıklama</label>
                                <textarea asp-for="OperationRequest.Description" class="form-control"></textarea>
                            </div>

                            <div class="mb-3">
                                <label asp-for="OperationRequest.Address" class="form-label">Adres</label>
                                <textarea asp-for="OperationRequest.Address" class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        const token = '@ViewBag.Token'; 

        $('#firmSelector').on('input', function () {
            const searchTerm = $(this).val().trim(); 

            if (searchTerm.length >= 1) {  
                $.ajax({
                    url: `https://sistemeco.online/api/Customers/search-companies-add-operations?searchTerm=${searchTerm}`,
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token, 
                        'Content-Type': 'application/json'
                    },
                    success: function (data) {
                        $('#firmDropdown').empty().show(); 

                        data.forEach(function (company) {
                            $('#firmDropdown').append(`<li class="dropdown-item" data-id="${company.id}">${company.companyName}</li>`);
                        });

                        $('.dropdown-item').off('click').on('click', function () {
                            const selectedFirmName = $(this).text();
                            const selectedFirmId = $(this).data('id');

                            $('#firmSelector').val(selectedFirmName);
                            $('#selectedCustomerId').val(selectedFirmId);
                            console.log("Selected CustomerId:", $('#selectedCustomerId').val());
                            $('#firmDropdown').hide(); 
                        });
                    },
                    error: function () {
                        alert('Firmalar alınırken hata oluştu.');
                    }
                });
            } else {
                $('#firmDropdown').hide(); 
            }
        });
        $('#operationForm').submit(function (e) {
            console.log("Form gönderiliyor");
        });

        $(document).on('click', function (event) {
            if (!$(event.target).closest('#firmSelector, #firmDropdown').length) {
                $('#firmDropdown').hide();
            }
        });
    });
</script>

