<div class="form-header">
    <div class="header-title">
        <h3>@ViewBag.FullName Size Ait İşlemler</h3>
    </div>
    <div class="header-button">
        <a href="/CustomerOperation/AddOperation" class="add-operation-btn">Yeni İşlem Ekle</a>
    </div>
</div>