<head>
    <meta charset="utf-8" />
    <title>ECO CRM SİSTEMİ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/HTML/dist/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/HTML/dist/assets/libs/jsvectormap/css/jsvectormap.min.css" />
    <link href="~/HTML/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/HTML/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/HTML/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" />
</head>