@model List<DisplayUserEmailInteractionCountResponse>

<div class="info-box">
    <h4>En Çok Mail Atılan</h4>
    <ul id="mostVisitedList">
        @foreach (var x in Model)
        {
            <li>
                <a href="/CustomerOperation/OperationsByCustomer/@x.CustomerId">@x.CompanyName</a>
                <span>@x.InteractionCount</span>
            </li>
        }
    </ul>
</div>