<div class="sidebar">
    <a href="/Dashboard/Index/">Ana Sayfa</a>
    <a href="/CustomerOperation/Index/">Tüm İşlemler</a>
    <a href="/Customer/Index">Müşteriler</a>
    <a href="/Account/Logout/">Çıkış</a>    

</div>