
<div class="startbar-menu">
    <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
        <div class="d-flex align-items-start flex-column w-100">
            <ul class="navbar-nav mb-auto w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard/Index/">
                        <i class="iconoir-home-simple menu-icon"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sidebarApplications" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarApplications">
                        <i class="iconoir-view-grid menu-icon"></i>
                        <span>
                            İşlem Hareketleri
                        </span>
                    </a>
                    <div class="collapse" id="sidebarApplications">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="/CustomerOperation/Planned" class="nav-link">Planlananlar</a>
                            </li>
                            <li class="nav-item">
                                <a href="/CustomerOperation/Complated" class="nav-link">Gerçekleşenler</a>
                            </li>
                            <li class="nav-item">
                                <a href="/CustomerOperation/Cancelled" class="nav-link">Gerçekleşmeyenler</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sidebarCustomers" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarCustomers">
                        <i class="iconoir-view-grid menu-icon"></i>
                        <span>
                            Müşteriler 
                        </span>
                    </a>
                    <div class="collapse" id="sidebarCustomers">
                        <ul class="nav flex-column">
                            <li class="nav-item">   
                                <a href="/Customer/ExistedCustomersCard" class="nav-link">Mevcut Müşteriler</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Customer/PotentialCustomersCard" class="nav-link">Potansiyel Müşteriler</a>
                            </li>
                            
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="startbar-overlay d-print-none"></div>